SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
GEOFENCE_TOLERANCE_METERS=50
TOKEN_RATE_PER_KG=10
TOKEN_FIXED_AMOUNT=5
MAX_QUANTIDADE_TOKENS_PER_DESCARTE=1000.0
BLOCKCHAIN_MODE=mock
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_PROGRAM_ID=64FVsreQdM55Gug8t1WsPoK66rUCp6ti4kqfeet2JKTM
SOLANA_GT_MINT_ADDRESS=8kws7nZkVjUSuYgHoZcTThWEmGDEL3rrPNFbmciXMQ6h
SOLANA_AUTHORITY_KEYPAIR_PATH=
SOLANA_GT_DECIMALS=2
SOLANA_COMMITMENT=confirmed
